PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=rnkm63
DATABASE_USERNAME=rnkm63
DATABASE_PASSWORD=rnkm63

SSO_URL=http://chulassomock:8000
SSO_APPID=APPID
SSO_APPSECRET=APPSECRET

JWT_SECRET=MyJwtSecret
JWT_EXPIRES=60s

IN_DEV=false

#cloud storage
KEY_FILE_PATH=path/to/your/service_access_key.json
PROJECT_ID=PROJECTID
BUCKET_NAME=BUCKETNAME
IMG_FILE_NAME_SECERET=SECRET

#For PGADMIN Only
PGADMIN_EMAIL=pgadmin@localhost
PGADMIN_PASSWORD=PGADMIN_PASSWORD
PGADMIN_PORT=3001
